[submodule "ModernUO"]
	path = ModernUO
	url = https://github.com/modernuo/ModernUO.git
[submodule "Modules/ModernSpawner"]
	path = Modules/ModernSpawner
	url = https://github.com/brettmax/UOModernSpawner.git
